[Unit]
Description=I2C-to-Serial for GPSd
Before=gpsd.service

[Service]
Type=simple
Restart=on-failure
RestartSec=1
WorkingDirectory=/etc/systemd/system/gpsd-i2c.service.d
ExecStartPre=/bin/sh -c 'if [ ! -p /tmp/gpsd0 ]; then mkfifo /tmp/gpsd0 && chmod 666 /tmp/gpsd0; fi'
ExecStart=/usr/bin/python3 ./gpsd_update/gpsd_i2c.py

[Install]
RequiredBy=gpsd.service
WantedBy=multi-user.target
